@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-outline-primary bg-gradient" asp-controller="Course" asp-action="Apply">Apply</a></p>
</div>
