@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-5 my-5">Welcome to Cenan Academy. Would you like to apply for a course?</h5>
    
    <div class="btn-group">
        <p class="my-5"><a class="btn btn-primary bg-gradient" asp-controller="Course" asp-action="Apply">Apply</a></p>
    </div>
</div>
