@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 my-5">Welcome to Cenan Academy. Would you like to apply for a course?</h1>
    
    <div class="btn-group">
        <p class="my-5"><a class="btn btn-primary bg-gradient" asp-controller="Course" asp-action="Apply">Apply</a></p>
        <p class="my-5"><a asp-controller="Course" asp-action="Index" class="btn btn-outline-primary mx-3">Show Applicants</a></p>
    </div>
</div>
